[submodule "fmt"]
	path = externals/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "mcl"]
	path = externals/mcl
	url = https://github.com/azahar-emu/mcl.git
[submodule "robin-map"]
	path = externals/robin-map
	url = https://github.com/Tessil/robin-map.git
